<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 🔒 Перенаправление с HTTP на HTTPS
  RewriteCond %{HTTPS} !=on
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # ⚙️ Основные правила для SPA или фронтенд-приложений
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
